:root{
    --white:#FAF8F5;
    --beige:#EDE1D1;
    --coffee:#A67C52;
    --coffee-dark:#6F4E37;
    --text:#2F2F2F;
    --card:#FFFFFF;
}

body{
    background:var(--white);
    color:var(--text);
}

/* NAVBAR */

nav{
    background:rgba(250,248,245,.95);
    backdrop-filter:blur(15px);
    border-bottom:1px solid #e6e6e6;
    box-shadow:0 2px 20px rgba(0,0,0,.05);
}

.logo{
    color:var(--coffee-dark);
}

nav ul li a{
    color:var(--text);
}

nav ul li a:hover{
    color:var(--coffee);
}

nav ul li a::after{
    background:var(--coffee);
}

/* HERO */

.hero{
    background:
    linear-gradient(
    135deg,
    #faf8f5 0%,
    #f2e7da 100%);
}

.hero-text h1{
    color:var(--coffee-dark);
    font-size:72px;
}

.hero-text span{
    color:var(--coffee);
}

.hero-text h3{
    color:#666;
}

.hero-text p{
    color:#555;
}

.hero-image img{
    border:8px solid #fff;

    box-shadow:
    0 15px 40px rgba(0,0,0,.08);
}

/* BUTTON */

.btn{
    background:var(--coffee);
    border:none;
}

.btn:hover{
    background:var(--coffee-dark);
    box-shadow:0 10px 25px rgba(0,0,0,.12);
}

.btn-view{
    border:2px solid var(--coffee);
    color:var(--coffee-dark);
    background:#fff;
}

.btn-download{
    background:var(--coffee);
}

.btn-view:hover,
.btn-download:hover{
    box-shadow:0 10px 25px rgba(0,0,0,.12);
}

/* ABOUT */

.about-content h1{
    color:var(--coffee-dark);
}

.about-content p{
    color:#555;
}

.about-img img{
    box-shadow:
    0 15px 40px rgba(0,0,0,.08);
}

.info-box{
    background:#fff;
    border:none;
    box-shadow:
    0 10px 30px rgba(0,0,0,.06);
}

.info-box p{
    color:#555;
}

/* SECTION TITLE */

.skills h1,
.gallery h1,
.contact h1,
.certificate h1,
.skill-content h1{
    color:var(--coffee-dark);
}

.skills h1::after,
.gallery h1::after,
.contact h1::after,
.certificate h1::after{
    content:'';
    display:block;
    width:80px;
    height:4px;
    margin:15px auto 0;
    border-radius:20px;
    background:var(--coffee);
}

/* SKILL CARD */

.skill-card{
    background:#fff;
    border:none;
    box-shadow:
    0 10px 25px rgba(0,0,0,.06);
}

.skill-card:hover{
    transform:translateY(-8px);

    box-shadow:
    0 20px 35px rgba(0,0,0,.08);
}

.skill-card h3{
    color:var(--coffee-dark);
}

.skill-card p{
    color:#666;
}

.skill-image img{
    box-shadow:
    0 15px 40px rgba(0,0,0,.08);
}

/* CERTIFICATE */

.certificate-card{
    background:#fff;
    box-shadow:
    0 10px 25px rgba(0,0,0,.06);
}

.certificate-card::before{
    background:rgba(111,78,55,.65);
}

.certificate-card h3{
    color:white;
}

/* GALLERY */

.gallery-card{
    background:#fff;
    border:none;

    box-shadow:
    0 10px 25px rgba(0,0,0,.06);
}

.gallery-card:hover{
    transform:translateY(-8px);

    box-shadow:
    0 20px 35px rgba(0,0,0,.1);
}

/* CONTACT */

.contact-card{
    background:#fff;
    border:none;

    box-shadow:
    0 10px 25px rgba(0,0,0,.06);
}

.contact-card:hover{
    transform:translateY(-8px);

    box-shadow:
    0 20px 35px rgba(0,0,0,.1);
}

.contact-card h3{
    color:var(--coffee-dark);
}

/* HIGHLIGHT */

.about-highlight h3{
    color:var(--coffee-dark);
}

.about-highlight p{
    color:#666;
}

/* FOOTER */

footer{
    background:#F1E8DE;
    border:none;
}

footer h3{
    color:var(--coffee-dark);
}

footer p{
    color:#666;
}

/* SCROLLBAR */

::-webkit-scrollbar-track{
    background:#eee;
}

::-webkit-scrollbar-thumb{
    background:var(--coffee);
}
