@media(max-width:768px){

.hero{
flex-direction:column-reverse;
text-align:center;
}

.hero-content h1{
font-size:40px;
}

.hero-image img{
width:250px;
height:250px;
}

.nav-links{
position:absolute;
top:80px;
left:-100%;
width:100%;
background:#111827;
flex-direction:column;
padding:20px;
transition:.4s;
}

.nav-links.active{
left:0;
}

.menu-toggle{
display:block;
}

}
